<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIF.vnd2B%252fHr4DQuVtoD0l55oQ%26pid%3DApi&f=1&ipt=0edbce3c715a1e1f7568fba354d00253ffac949fe818bbeaf767f98f1dd80865&ipo=images"
      cardTitle="Angular v16 is here!"
      cardDescription="Six months ago, we reached a significant milestone in Angular’s simplicity and developer experience by graduating the standalone APIs from…"
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="What’s next for Server Side Rendering in Angular"
      photoCover="https://cdn-images-1.medium.com/max/800/1*BMDyhp4RU0SQuG5FSCG4MA.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Advancements in the Angular Router"
      photoCover="https://cdn-images-1.medium.com/max/800/0*CMRt_X2y06OTNl0U"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Modern CSS in Angular: Layouts"
      photoCover="https://cdn-images-1.medium.com/max/800/1*gEO2PA3_041rFRPf8270rw.jpeg"
    >
    </app-small-card>
  </div>
</div>
